<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ecount.quotation.mapper.QuotationMapper">

    <!-- 특정 견적서 검색 -->
	<select id="findQuotByAccNum" resultType="ecount.quotation.domain.QuotationDTO">
		SELECT
			*
		FROM
			QUOTATION
		WHERE
			delete_at IS NULL
		AND
			acc_num = #{acc_num}
	</select>

    <!-- 모든 견적서 검색 -->
	<select id="findAllQuot"
		resultType="ecount.quotation.domain.QuotationDTO">
		SELECT
			*
		FROM
			QUOTATION
		WHERE
			acc_num > 0
	</select>
	
    <!-- 견적서 삽입 -->
	<insert id="insertQuot"
		parameterType="ecount.quotation.domain.QuotationDTO">
		INSERT INTO 
			Quotation (acc_uuid, acc_num, clientNum, managerNum, storageId,
	 			  projectNum, status, created_at, modified_at)
		VALUES (#{acc_uuid}, #{acc_num}, #{clientNum}, #{managerNum}, #{storageId},
	 			  #{projectNum}, #{status}, #{created_at}, #{modified_at})
	</insert>
	
    <!-- 견적서 업데이트 -->
	<update id="updateQuot">
	
		UPDATE
			QUOTATION 
		SET
			clientNum = #{clientNum},
			managerNum = #{managerNum},
			storageId = #{storageId},
			projectNum = #{projectNum}, 
			status = #{status},
			modified_at = #{modified_at}
		WHERE
    		acc_num = #{acc_num}
			
	</update>	
	
	<!-- 견적서 삭제 (논리 삭제) -->
	<update id="deleteQuot">
		UPDATE
			Quotation 
		SET
			deleted_at = sysdate <!-- sysdate 말고 다른거? -->
		WHERE
    		acc_num = #{acc_num}
	</update>
	
</mapper>
